@font-face {
    font-family: "Oxygen-Regular";
    src: url("/font/Oxygen/Oxygen-Light.ttf") format("truetype");
}
.bg{
    background-color: rgb(245, 245, 245);
    overflow: hidden;
}
.shadow{
    -webkit-box-shadow: 0 0 10px rgb(91, 91, 91);
    box-shadow: 0 0 10px rgb(91, 91, 91);
}
body{
    background-image: linear-gradient(to top, #a6c1ee 0%, #a6c1ee 100%) ;
    background-repeat: repeat;
}
.container{
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo{
    margin-top: 40px;
    width: min(98%, 600px);
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);;
    border-radius: 20px;
    border-color: #a6c1ee;
}
.b{
    border:solid;
    border-width:1px;
    border-radius: 10px;;
}

#input{
    height:30px;
    width: 80%;
    outline: none;
    border: none;
    font-size: 19px;
}

.font{
    font-family:  oxygen-Regular;
}

.inputDiv{
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.icon{
    padding:10px;
    height: 30px;
    width:30px;
}
.icon1{
    padding:2px;
    height: 20px;
    width:20px;
}
.left{
    float:left;
    display: flex;
    align-items:center;
}
.right{
    float:right;
    display: flex;
    align-items:center;
}
h1,h2,h3,h4,h5,h6,p{
    font-size: small;
    margin:10px;
}
.task{
    padding:0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

hr{
    width:95%;
    color: #a6c1ee;
}
.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, rgb(0, 0, 0), rgb(132, 132, 132), rgb(0, 0, 0));
    background-image: -moz-linear-gradient(left,rgb(0, 0, 0), rgb(132, 132, 132), rgb(0, 0, 0));
    background-image: -ms-linear-gradient(left,rgb(0, 0, 0), rgb(132, 132, 132), rgb(0, 0, 0));
    background-image: -o-linear-gradient(left, rgb(0, 0, 0), rgb(132, 132, 132), rgb(0, 0, 0));
}
.bold{
    font-family: cursive;
}
.todos{
    display: flex;
    flex-direction:  column;
    margin:10px;
}
.oneTodo{
    margin:2px;
    display:flex;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;
}

.center{
    text-align: center;
}
.red{
    color:red;
}